@CHARSET "UTF-8";
/*main.css css的注释*/

/* 使用通配符选择器选出当前文档的所有标签 */
* {
	color: red;
}

/* 标签选择器 添加下划线 */
li {
	text-decoration : underline;
	color: blue;
	text-decoration: underline;
}

/* id选择器 选出id为li3的标签 */
#li3 {
	list-style: none; 
	text-decoration: none;
	color: orange;
	font-size: 20px;
}

#li4 {
	list-style: none; 
}

/* 定义几类样式 */
.c1 {
	background: lime;
	width: 300px;
	height: 50px;
}

.c2 {
	background: blue;
	width: 400px;
	height: 60px;
}

.w100 {
	width: 100px;
}

.w200 {
	width: 200px;
}

.h200 {
	height: 200px;
}

.bgred {
	background: red;
}

/* 派生选择器 */
ul li ul li {
	background: red;
	color: white;
	margin-bottom: 3px;
}