<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>layout.html</title>
		<link media="screen and (min-width : 900px)"
			 rel="stylesheet" type="text/css" href="style900.css"/>
		<link media="screen and (min-width : 600px) and (max-width : 900px)"
			 rel="stylesheet" type="text/css" href="style600.css"/>
		<link media="screen and (min-width : 320px) and (max-width : 600px)"
			 rel="stylesheet" type="text/css" href="style320.css"/>
	</head>
	<body>
		<header></header>
		<nav></nav>
		<div class="container">
			<aside></aside>
			<article></article>
			<div class="section">
				<section id="s1"></section>
				<section></section>
			</div>
		</div>
		<footer></footer>
	</body>
</html>
